.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    
}

.container-se {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vh;
    height: 100vh;
    gap: 2rem;
    
}

.container-75 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    gap: 4rem;
    
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    flex-direction: column;
}

.container-top {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 100px;
    gap: 2rem;
    
}

.container-top-100vh {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    gap: 2rem;
    
}

.title-1 {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    flex-direction: column;
}


.title-1 > h1 {
    font-size: 7rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.title-1 > h2 {
    font-size: 7rem;
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
}

.title-1 > p {
    font-size: 2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#background-1 {
    background-image: url(./assets/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#background-2 {
    background-image: url(./assets/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#background-3 {
    background-image: url(./assets/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#background-4 {
    background-image: url(./assets/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#background-5 {
    background-image: url(./assets/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.img-vik {
    height: 400px; ;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5F6FA;
    border-width: 30px;
}


.caveat-font {
font-family: "Caveat"
}

.font-family-caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}

    .titillium-web-regular {
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

.container-grid{
    display: grid;
    height: 100vh;
   
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.grid-span {
    grid-column: span 3;
    color: #FFFFFF;
    text-align: center;
   
}

.title-1 > h3 {
    font-size: 5rem;
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
}

.container-grid > div > p {
    color: #FFFFFF;
    letter-spacing: 3px;
    font-size: 25px;
  
}

.img-hobby {
    height: 300px;
    border-radius: 10%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 15px;
   
}

#hobby {
    font-size: 4rem;
    text-transform: capitalize;
}

.container-contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 200 px;
    gap: 0rem; }

#contacts p {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px ;
    font-size: 3rem;
}

#contacts h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 7px ;
    font-size: 4rem;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: center;
    align-items:first flex-end;
    height: 50px;
    gap: 2rem;
    background-color: #478CCF;
}

.footer p {
    color: #E5F6FA;
}

#yellow {
    color: #F8EE8F;
}

@media (max-width: 1200px){

    .container-se { 
        display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    flex-direction: column;

    }
}
@media (max-width: 960px) {

   

    #title  .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #title img {
        height: 200px; ;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5F6FA;
    border-width: 20px;
    margin-left: 1rem;
    }
    #introduction .container-75 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    #introduction .title-1 {
        text-align: center;
    }
    

    #introduction img {
        height: 200px; ;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5F6FA;
    border-width: 20px;
    margin-left: 1rem;
        
    }
    #introduction h2 {
        font-size: 3rem;
    }
    #introduction h1 {
        font-size: 3.5rem;
    }
    #introduction p {
        font-size: 1rem;
    }
    #projects h2 {
        font-size: 3rem;
    }
    #projects h3 {
        font-size: 3rem;
    }
    #projects img {
        height: 130px;
    }
    #interests h2 {
        font-size: 3rem;
    }
    #interests .img-hobby {
        height: 200px;
        border-width: 15px;
    }
    #interests .container {
        
        display: flex;
    justify-content: flex-start ;
    align-items: center;
    width: 100%;;
    gap: 1rem;
    flex-direction: column;
    
    }

    #interests .container-column {
        padding-bottom: 2rem;
    }

    #title h1 {
        font-size: 4rem;
    }

    #title .title-1 {
        align-items: center;
        text-align: center;
    }

    #contacts p {
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 5px ;
        font-size: 2rem;
    }

}
